<!--funcionamiento-->
<script src="app/views/default/vendor/jquery/jquery.min.js"></script>
<script language="javascript" src="app/views/default/javascript/jquery/jquery-ui.js"></script>
<!--<script src="app/views/default/js/jquery.timepicker.js" type="text/javascript"></script>
<script src="app/views/default/js/jquery.timepicker.min.js" type="text/javascript"></script>-->
<script src="app/views/default/vendor/jquery/jquery.form.js" type="text/javascript"></script>
<script src="app/views/default/js/timepicker.min.js"></script>
<script src="app/views/default/js/misfunciones.js" type="text/javascript"></script>
<script src="app/views/default/js/sweetalert.min.js"></script>
<!--funcionamiento-->


